{% extends "base.html" %}

{% block title %}Welcome{% endblock title %}

{% block body %}
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="height:78vh;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1611048267451-e6ed903d4a38?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="height:78vh;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1551632436-cbf8dd35adfa?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="height:78vh;" class="d-block w-100" alt="...">
      </div>
    </div>
    
<div class="container text-center my-3"><b><i>
    <h4> Hello Visitor Welcome To Gautam Hotel</h4></b>
</div></i>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
<main>
   <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
     <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> 
      <div class="col"> 
        <div class="card h-100 shadow-sm"> 
          <img src="https://wallpaperaccess.com/full/10537931.jpg" class="card-img-top" alt="...">
           <div class="card-body"> 
            <div class="clearfix mb-3"> 
              <span class="float-start badge rounded-pill bg-primary">Rs.145.00</span>
              <b> <span class="float-end price-hp">Chicken MoMo</span> </b> 
              </div> <h5 class="card-title">Savor the Himalayan essence in every bite of our succulent momos, a taste of tradition in every wrapper. Enjoy the delightful taste of momos,
                Filled with savory goodness that truly shows. Savor 10% off on all orders, a delicious treasure to explore .</h5> 
              <div class="text-center my-4"> 
                <a href="#" class="btn btn-warning">Check offer</a> 
              </div>
            </div> 
          </div> 
        </div>
         <div class="col"> 
          <div class="card h-100 shadow-sm"> 
            <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F43%2F2023%2F02%2F20%2F6776_Pizza-Dough_ddmfs_4x3_1724.jpg&q=60&c=sc&poi=auto&orient=true&h=512" class="card-img-top" alt="..."> 
            <div class="card-body"> 
              <div class="clearfix mb-3">
               <span class="float-start badge rounded-pill bg-success">Rs.550.00
               </span> <span class="float-end">
               <b> Pizza</b>
              </span>
               </div>
                <h5 class="card-title">Pizza is round, with sauce and cheese,
                  Baked to perfection, it sure does please.
                  Toppings galore, a feast for the taste,
                  Slice after slice, a joy to embrace. Save 5% off on all orders, a delicious treasure to explore .
                </h5> 
                <div class="d-grid gap-2 my-4">
                   <a href="#" class="btn btn-warning">Check offer
                   </a> 
                  </div> 
                </div>
               </div>
               </div>
                 <div class="col"> 
                  <div class="card h-100 shadow-sm"> 
                  <img src="https://www.allrecipes.com/thmb/s0mJbUaWhT4cvgMRK28grMkUXcU=/0x512/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8805-CrispyFriedChicken-mfs-3x2-072-d55b8406d4ae45709fcdeb58a04143c2.jpg" class="card-img-top" alt="..."> 
                 <b> <div class="my-2 mx-2"></div></b>
                   <div class="card-body"> 
                    <div class="clearfix mb-3"> 
                      <span class="float-start badge rounded-pill bg-success">Rs.850.00</span>
                      <b> <span class="float-end price-hp">Crispy Fried Chicken</span> </b> 
                      </span>
                    </div> 
                    <h5 class="card-title">Most fried chicken is cooked at a high temperature throughout the frying process. This one, however, only starts at a very high heat. Discover delectable delights, now for less,
                      Save 15% on all orders, don't second guess.
                      A treasure trove of flavors, yours to explore,
                      Savor each bite, and come back for more.</h5> 
                    <div class="text-center my-4">
                       <a href="#" class="btn btn-warning">Check offer</a> 
                      </div> <div class="clearfix mb-1">
                         <span class="float-start"><i class="far fa-question-circle"></i>
                        </span> <span class="float-end"><i class="fas fa-plus"></i></span>
                       </div>
                       </div>
                      </div>
                     </div>
                      <div class="col"> 
                        <div class="card h-100 shadow-sm"> 
                          <img src="https://www.allrecipes.com/thmb/VJrzMgJjbGlisgE1rbu8wI8ir9I=/0x512/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/7483649ChiliGarlicPaneerchefJohn4x3-c6653bb06f114d19be76de957cec2874.jpg" class="card-img-top" alt="..."> 
                          <div class="label-top shadow-sm"></div>
                           <div class="card-body">
                            <div class="clearfix mb-3"> 
                              <span class="float-start badge rounded-pill bg-success">Rs.370.00</span> 
                              <b> <span class="float-end price-hp">Paneer Garlic Chilly</span> </b> 
                             
                              </span> 
                            </div> 
                            <h5 class="card-title">Chunks of paneer, spiced with flair,
                              Chili garlic blend, homemade care.
                              Sizzle in the pan, aroma fills the air,
                              A savory delight, beyond compare. Unlock savings, indulge for less,
                              With 12% off, your taste buds bless.
                              Delicious treasures await in store,
                              Explore and savor, crave for more</h5> 
                            <div class="text-center my-4"> 
                              <a href="#" class="btn btn-warning">Check offer</a> 
                            </div> <div class="clearfix mb-1">
                               <span class="float-start"><i class="far fa-question-circle"></i>
                          </span> 
                          <span class="float-end"><i class="fas fa-plus"></i>
                          </span>
                         </div>
               </div> 
              </div>
               </div> 
              </div>
               </div>
               </main>
              </div>
         
              <div class="container-fluid bg-light">
                <style>
                  body {
                    background-color: #f5f7fa;
                  }
                  
                  .testimonial-card .card-up {
                    height: 120px;
                    overflow: hidden;
                    border-top-left-radius: .25rem;
                    border-top-right-radius: .25rem;
                  }
                  
                  .aqua-gradient {
                    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
                  }
                  
                  .testimonial-card .avatar {
                    width: 120px;
                    margin-top: -60px;
                    overflow: hidden;
                    border: 5px solid #fff;
                    border-radius: 50%;
                  }
                </style>
                <section class="mx-auto my-5" style="max-width: 23rem;">
                    
                  <div class="card testimonial-card mt-2 mb-3">
                    <div class="card-up aqua-gradient"></div>
                    <div class="avatar mx-auto white">
                      <img src="https://scontent.fktm1-1.fna.fbcdn.net/v/t39.30808-6/357723877_3107007819605014_6561943591171742855_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=8vmrgi_M3fwAX-X4n5s&_nc_ht=scontent.fktm1-1.fna&oh=00_AfAGXPecfz1M9q54J7VKtGXg6j8K9NRPIGyiexARGkBcZA&oe=65CE6E22" class="rounded-circle img-fluid"
                        alt="woman avatar">
                    </div>
                    <div class="card-body text-center">
                      <h4 class="card-title font-weight-bold">Ashim Gautam</h4>
                      <hr>
                      <p><i class="fas fa-quote-left"></i>Greetings,

                        I am Ashim Gautam, the proud owner of Gautam Hotel, a hospitality haven where luxury meets comfort and tradition blends seamlessly with modernity. With a passion for delivering exceptional guest experiences and a dedication to excellence, I have been steering Gautam Hotel towards becoming a preferred destination for travelers from around the globe. </p>
                    </div>
                  </div>
                  
                </section>
              </div>     
              <h4 class="container text-center"><i><b>Our Location</h4></i></b>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d878.5471265339156!2d83.96833208160692!3d28.26230037650952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399593894bd38b25%3A0x995fe2d72d15201b!2sBagar%2Ctaxichowk!5e0!3m2!1sen!2snp!4v1707922616565!5m2!1sen!2snp"  width="700" height="450" style="border:0; margin-left:400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <div class="footer">
                <style>
                  {
                    margin: 0px;
                    padding: 0px;
                    box-sizing: border-box;
                    font-family: 'Poppins', sans-serif;
                }
                
                .footer {
                    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
                    background-size: cover;
                    
                }
                
                
                
                .first {
                    margin-top: 40px;
                    margin-bottom: 50px;
                    color: rgb(206,206,206);
                    font-family: 'Poppins', sans-serif;
                }
                
                    .first h4 {
                        font-size: 20px;
                        letter-spacing: 3px;
                        position: relative;
                        margin-bottom: 20px;
                        font-size: 1.6em;
                        color: #fff;
                        padding-bottom: 0.5em;
                    }
                
                        .first h4::after {
                            content: '';
                            background: #66c83d;
                            width: 20%;
                            height: 2px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                
                    .first p {
                        font-size: 14px;
                    }
                
                .second {
                    margin-top: 40px;
                    margin-bottom: 50px;
                    color: rgb(206,206,206);
                    font-family: 'Poppins', sans-serif;
                    text-align: center;
                }
                
                .second2 {
                    margin-top: 40px;
                    margin-bottom: 50px;
                    color: rgb(206,206,206);
                    font-family: 'Poppins', sans-serif;
                    text-align: center;
                }
                
                .second h4 {
                    font-size: 20px;
                    letter-spacing: 3px;
                    position: relative;
                    margin-bottom: 20px;
                    font-size: 1.6em;
                    color: #fff;
                    padding-bottom: 0.5em;
                }
                
                    .second h4::after {
                        content: '';
                        background: #66c83d;
                        width: 20%;
                        height: 2px;
                        position: absolute;
                        bottom: 0;
                        left: 40%;
                    }
                
                
                .second li {
                    list-style: none;
                    padding-bottom: 30px;
                }
                
                .second a, .second2 a {
                    color: rgb(206, 206, 206);
                    text-decoration: none;
                    letter-spacing: 3px;
                    font-weight: bold;
                    font-size: 14px;
                    transition: 0.2s;
                }
                
                    .second a:hover, .second2 a:hover {
                        color: #fff;
                        transition: 0.2s;
                        text-shadow: 1px 1px 20px rgba(0,0,0,1);
                        text-decoration: none
                
                    }
                
                
                
                .third {
                    margin-top: 40px;
                    margin-bottom: 50px;
                    color: rgb(206,206,206);
                    font-family: 'Poppins', sans-serif;
                    text-align: right;
                }
                
                
                    .third h4 {
                        font-size: 20px;
                        letter-spacing: 3px;
                        position: relative;
                        margin-bottom: 20px;
                        font-size: 1.6em;
                        color: #fff;
                        padding-bottom: 0.5em;
                    }
                
                
                        .third h4::after {
                            content: '';
                            background: #66c83d;
                            width: 20%;
                            height: 2px;
                            position: absolute;
                            bottom: 0;
                            left: 80%;
                        }
                
                
                
                    .third li {
                        list-style: none;
                        padding-bottom: 15px;
                    }
                
                
                    .third a {
                        color: rgb(206, 206, 206);
                        text-decoration: none;
                        letter-spacing: 3px;
                        font-weight: bold;
                        font-size: 14px;
                        transition: 0.2s;
                    }
                
                
                        .third a:hover {
                            color: #fff;
                            transition: 0.2s;
                            text-shadow: 1px 1px 20px rgba(0,0,0,1);
                        }
                
                
                @media screen and (max-width:1000px) {
                    .first {
                        text-align: center;
                    }
                
                        .first h4::after {
                            left: 40%;
                        }
                }
                
                @media screen and (max-width:1000px) {
                    .third {
                        text-align: center;
                    }
                
                        .third h4::after {
                            left: 40% !important;
                        }
                }
                
                .margin {
                    margin-left: 20px;
                }
                
                .line {
                    height:2px;
                    background-color:rgb(206,206,206);
                    width:100%;
                }
                
                .container h1{
                    text-align:center;
                    margin-top:100px;
                    margin-bottom:100px;
                }
                Run Pen
                
                
                Resources
                </style>
                  <div class="container">
                      <div class="row">
                          <div class="col-md-4 col-xs-12">
                              <div class="first">
                                  <h4>Our Services</h4>
                                  <p> Currency exchange</p>
                                  <p> Laundry and dry cleaning</p>
                                  <p> Free Wi-Fi</p>
                                  <p> Spa and wellness</p>
                                  <p> Meeting rooms</p>
                                  <p> Parking: On-site</p>
                              </div>
                          </div>
          
                          <div class="col-md-4 col-xs-12">
                              <div class="second">
                                  <h4> Navigate</h4>
                                  <ul>
                                      <li><a href="#">Home</a></li>
                                      <li><a href="#">Register</a></li>
                                      <li><a href="#">About</a></li>
                                      <li><a href="#">Contact</a></li>
                                  </ul>
                              </div>
                          </div>
          
                          <div class="col-md-4 col-xs-12">
                              <div class="third">
                                  <h4> Contact</h4>
                                  <ul>
                                      <li>Ashim Gautam </li>
                                      <li></li>
          
          
                                    <li><i class="far fa-envelope"></i> gautamhotel01@gmail.com</li>
                                      <li><i class="far fa-envelope"></i> ashimguatam01@gmail.com</li>
          
          
                                    <li><i class="fas fa-map-marker-alt"></i> Pokhara,Nepal</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-12">
                              <div class="line"></div>
                              <div class="second2">
                                  <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                                  <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                                  <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                                  <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>
          
                              </div>
          
                          </div>
                      </div>
                      </div>
              </div>
             
          
                    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 
{% endblock body %}
