{% extends "base.html" %}

{% block title %}Staffs{% endblock title %}

{% block body %}


<div class="container mt-5 mb-5">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    font-family: 'Maven Pro', sans-serif
}

body{
  background-color: #eee;
}

.add{

  border-radius: 20px;
}

.card{

  border:none;
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
}

.card:hover{

   -webkit-box-shadow: 3px 5px 17px -4px #777777; 
box-shadow: 3px 5px 17px -4px #777777;
}

.ratings i {

  color: green;
}

.apointment button{

  border-radius: 20px;
  background-color: #eee;
  color: #000;
  border-color: #eee;
  font-size: 13px;
}
    </style>
    <div class="d-flex justify-content-between mb-3">

        <button class="btn btn-info add">Staffs Details</button>
        <button class="btn btn-success add">Add Staffs</button>
        
    </div>
    <div class="row g-2">

        <div class="col-md-3">

            <div class="card p-2 py-3 text-center">

                <div class="img mb-2">

                    <img src="https://i.imgur.com/LohyFIN.jpg" width="70" class="rounded-circle">
                    
                </div>

                <h5 class="mb-0">Sujana Poudel</h5>
                <small>Manager</small>

                <div class="ratings mt-2">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>

                <div class="mt-4 apointment">

                    <button class="btn btn-success text-uppercase">Contact Her</button>
                    
                </div>

            </div>
            
        </div>




        <div class="col-md-3">

            <div class="card p-2 py-3 text-center">

                <div class="img mb-2">

                    <img src="https://i.imgur.com/o5uMfKo.jpg" width="70" class="rounded-circle">
                    
                </div>

                <h5 class="mb-0">Manisha Yadav</h5>
                <small>Reception</small>

                <div class="ratings mt-2">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>

                <div class="mt-4 apointment">

                    <button class="btn btn-success text-uppercase">Contact Her</button>
                    
                </div>

            </div>
            
        </div>




        <div class="col-md-3">

            <div class="card p-2 py-3 text-center">

                <div class="img mb-2">

                    <img src="https://i.imgur.com/tmdHXOY.jpg" width="70" class="rounded-circle">
                    
                </div>

                <h5 class="mb-0">Anish Sharama</h5>
                <small>Main Chief</small>

                <div class="ratings mt-2">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                    
                </div>

                <div class="mt-4 apointment">

                    <button class="btn btn-success text-uppercase">Contact Him</button>
                    
                </div>

            </div>
            
        </div>




        <div class="col-md-3">

            <div class="card p-2 py-3 text-center">

                <div class="img mb-2">

                    <img src="https://i.imgur.com/C4egmYM.jpg" width="70" class="rounded-circle">
                    
                </div>

                <h5 class="mb-0">Anish Bastola</h5>
                <small>Chief-Helper</small>

                <div class="ratings mt-2">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                   
                    
                </div>

                <div class="mt-4 apointment">

                    <button class="btn btn-success text-uppercase">Contact Him</button>
                    
                </div>

            </div>
            
        </div>



        <div class="col-md-3">

            <div class="card p-2 py-3 text-center">

                <div class="img mb-2">

                    <img src="https://i.imgur.com/0LKZQYM.jpg" width="70" class="rounded-circle">
                    
                </div>

                <h5 class="mb-0">Smiti Dhakal</h5>
                <small>Waiter</small>

                <div class="ratings mt-2">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>

                <div class="mt-4 apointment">

                    <button class="btn btn-success text-uppercase">Contact Her</button>
                    
                </div>

            </div>
            
        </div>


        <div class="col-md-3">

            <div class="card p-2 py-3 text-center">

                <div class="img mb-2">

                    <img src="https://i.imgur.com/ZSkeqnd.jpg" width="70" class="rounded-circle">
                    
                </div>

                <h5 class="mb-0">Rekha Gautam</h5>
                <small>Waiter</small>

                <div class="ratings mt-2">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>

                <div class="mt-4 apointment">

                    <button class="btn btn-success text-uppercase">Contact Her</button>
                    
                </div>

            </div>
            
        </div>



        <div class="col-md-3">

            <div class="card p-2 py-3 text-center">

                <div class="img mb-2">

                    <img src="https://i.imgur.com/MZm1LNz.jpg" width="70" class="rounded-circle">
                    
                </div>

                <h5 class="mb-0">Samikxya Sharama</h5>
                <small>Waiter</small>

                <div class="ratings mt-2">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>

                <div class="mt-4 apointment">

                    <button class="btn btn-success text-uppercase">Contact Her</button>
                    
                </div>

            </div>
            
        </div>

        <div class="col-md-3">

            <div class="card p-2 py-3 text-center">

                <div class="img mb-2">

                    <img src="https://i.imgur.com/C4egmYM.jpg" width="70" class="rounded-circle">
                    
                </div>

                <h5 class="mb-0">Jeevan Poudel</h5>
                <small>Customer Care</small>

                <div class="ratings mt-2">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                   
                    
                </div>

                <div class="mt-4 apointment">

                    <button class="btn btn-success text-uppercase">Contact Him</button>
                    
                </div>

            </div>
            
        </div>




        <div class="col-md-3">

            <div class="card p-2 py-3 text-center">

                <div class="img mb-2">

                    <img src="https://i.imgur.com/HFpxxJz.jpg" width="70" class="rounded-circle">
                    
                </div>

                <h5 class="mb-0">Priti Adhikari</h5>
                <small>Waiter</small>

                <div class="ratings mt-2">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>

                <div class="mt-4 apointment">

                    <button class="btn btn-success text-uppercase">Contact Her</button>
                    
                </div>

            </div>
        </div>
    </div>
   </div>


{% endblock %}