
{% extends "base.html" %}

{% block title %} Login {% endblock title %} 

{% block body %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-warning {{ message.tags }} alert-dismissible fade show mb-0" role="alert">
  <strong>{{ message }}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="container-fluid mb-0 my-0" style="background-image:url(https://source.unsplash.com/random/1500x1050/?hotel,greenforests); height:92vh">
<section class="h-100 gradient-form" >
  <div class="container py-2 h-75 w-50" >
    <div class="row d-flex justify-content-center align-items-center h-50 ">
      <div class="col-xl-10 ">
        <div class="card rounded-3 text-black h-25">
          <div class="row g-0 ">
            <div class="col-lg-6 w-100">
              <div class="card-body p-md-2 mx-md-3 ">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are Guatam Hotel Team</h4>
            
                </div>

                <form  method="post"  class="w-75">
                  {% csrf_token %}
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4 ">
                    <input type="text" id="form2Example11" class="form-control"
                      placeholder="Please Enter ID"name="username" />
                    <label class="form-label wb-75" >Username</label>
                  </div>

                  <div class="form-outline mb-4 ">
                    <input type="password" name="password" class="form-control"  placeholder="Enter your password"/>
                    <label class="form-label " >Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                      in</button><br>
                    <a class="text-muted" href="#!">Forgot password?</a>
                    </div>

                </form>

              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>


{% endblock body %}



